.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $str-yellow;
  padding: 1rem 2rem;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  margin-right: 2rem;
}

.shopping-icon {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  padding: 0;
}
